.card {
    background: #fff;
    margin: 0.7rem;
    border-radius: 0.2rem;
    position: relative;
    width: 11rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.05rem;
    line-height: 1.8; 
    position: relative;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#6CADDC; 
  }
  .card > .img-container > img {
    width: 100%
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }

  .img {
    width: 70%;
  }